In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('medical_examination.csv')

In [3]:
# df.info()

In [4]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
# playaround

In [6]:
# df.loc[:, 'height'] == 168

In [7]:
# h168_filter = df.loc[:, 'height'] == 168

In [8]:
# h168_filter = df.loc[:, 'height']
# h168_filter

In [9]:
# df.loc[h168_filter] = 1680

In [10]:
# df.loc[h168_filter, 'height'] = 1681

In [11]:
# Add 'overweight' column

In [12]:
bmi = df['weight'] / (df['height'] / 100) ** 2

In [13]:
df['bmi'] = bmi

In [14]:
overweight_true_filter = bmi > 25

In [15]:
overweight_false_filter = bmi <= 25

In [16]:
df['overweight'] = None

In [17]:
df.loc[overweight_true_filter, 'overweight'] = 1

In [18]:
df.loc[overweight_false_filter, 'overweight'] = 0

In [19]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177,0

In [20]:
df.overweight.value_counts()

1    43546
0    26454
Name: overweight, dtype: int64

In [21]:
df.overweight.value_counts(normalize=True)

1    0.622086
0    0.377914
Name: overweight, dtype: float64

In [22]:
# Normalize data by making 0 always good and 1 always bad. 
# If the value of 'cholesterol' or 'gluc' is 1, make the value 0. 
# If the value is more than 1, make the value 1.

In [23]:
# df['cholesterol']

In [24]:
# df.loc[df['cholesterol'] == 1] = 0

In [25]:
# df.loc[df['cholesterol'] == 2] = 1

In [26]:
# df.loc[df['cholesterol'] == 3] = 1

In [27]:
# df['cholesterol'].value_counts()

In [28]:
# df['gluc'].value_counts()

In [30]:
def bmi_metric(person):

    person_height_meter = person.height / 100
    bmi = person.weight / person_height_meter ** 2
    return bmi