In [17]:
import pandas as pd

In [203]:
df = pd.read_csv('adult.data.csv', sep=',', index_col=None, )

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [20]:
df.head(7)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K

In [35]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()

In [47]:
# What is the average age of men?
average_age_men = round(df['age'].mean(), 1)

In [73]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = df['education'].value_counts(normalize=True).mul(100).round(1).loc['Bachelors']

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

In [38]:
# with and without `Bachelors`, `Masters`, or `Doctorate`

In [128]:
edu_sal = df[['education', 'salary']]

In [118]:
higher_education = edu_sal[(edu_sal['education'] == 'Bachelors') | 
                           (edu_sal['education'] == 'Masters') | 
                           (edu_sal['education'] == 'Doctorate')]

In [126]:
lower_education = edu_sal[(edu_sal['education'] != 'Bachelors') & 
                          (edu_sal['education'] != 'Masters') & 
                          (edu_sal['education'] != 'Doctorate')]

In [123]:
# percentage with salary >50K
higher_education_rich = higher_education['salary'].value_counts(normalize=True).mul(100).round(1).loc['>50K']
lower_education_rich = lower_education['salary'].value_counts(normalize=True).mul(100).round(1).loc['>50K']

In [144]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

In [277]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[['salary', 'hours-per-week']][df['hours-per-week'] == min_work_hours]
rich_percentage = num_min_workers['salary'].value_counts(normalize=True).mul(100).round(1).loc['>50K']

In [275]:
# What country has the highest percentage of people that earn >50K?

In [276]:
rich_ratio = df.groupby('native-country')['salary'].apply(lambda x: x.str.contains('>').sum() / x.str.contains('50').sum() * 100)

In [272]:
rich_country = rich_ratio[rich_ratio == rich_ratio.max()]

In [273]:
highest_earning_country = rich_country.index[0]

In [274]:
highest_earning_country_percentage = round(rich_country[0], 1)

In [244]:
# Identify the most popular occupation for those who earn >50K in India.

In [245]:
# ind = df[(df['native-country'] == 'India')]

In [246]:
rich_ind = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

In [270]:
top_IN_occupation = rich_ind['occupation'].value_counts().index[0]

In [269]:
# alt sol
# go = df.groupby('native-country')['occupation'].value_counts()['India']
# top_IN_occupation = go.index[0]